.hero{

text-align:center;

padding:70px 20px;

background:white;

border-radius:20px;

box-shadow:var(--shadow);

}

.hero h1{

font-weight:700;

font-size:45px;

}

.hero p{

color:var(--gray);

margin-top:15px;

font-size:18px;

}

.search-box{

max-width:600px;

margin:auto;

}

.product-card{

background:white;

border-radius:20px;

overflow:hidden;

box-shadow:var(--shadow);

transition:.3s;

}

.product-card:hover{

transform:translateY(-8px);

}

.product-card img{

height:220px;

width:100%;

object-fit:cover;

}

.price{

font-size:22px;

font-weight:700;

color:var(--primary);

}